p {
    color: chartreuse;
}
h1{
    background-color: cadetblue;
}
.buton {
    color: darkred;
}
.block {
    width: 90%;
    height: 300px;
    border: 30px solid #000;
    background-color: #cca;
    background-image: 
}